<MobileMenuWrapper as |mmw|>
  <mmw.MobileMenu as |mm|>
    <div class="sidebar-padding">
      <ul class="chapter">
          <li>
            <mm.LinkTo @route="index">Introduction</mm.LinkTo>
          </li>
        </ul>
      <GroupedToc @model={{@model}} as |id|>
        <mm.LinkTo @route="rfc" @model={{id}}> {{id}} </mm.LinkTo>
      </GroupedToc>
    </div>
  </mmw.MobileMenu>

  <mmw.Content>
    <mmw.Toggle class="reset"><FaIcon class="p2" @icon="bars" /></mmw.Toggle>
    <aside class="sidebar sidebar-padding light">
      <ul class="chapter">
        <li>
          <LinkTo @route="index">Introduction</LinkTo>
        </li>
      </ul>

      <GroupedToc @model={{@model}} as |id|>
        <LinkTo @route="rfc" @model={{id}}> {{id}} </LinkTo>
      </GroupedToc>
    </aside>
    <main class="page-wrapper light">
      {{outlet}}
    </main>
  </mmw.Content>
</MobileMenuWrapper>

