{{! template-lint-disable no-action no-curly-component-invocation no-implicit-this no-link-to-positional-params require-button-type }}
<div class="page">
  <div class="menu-bar">
    <div class="left-buttons">
      <button class="reset" {{action "toggleSidebar"}}>
        <i class="fa fa-bars" ></i>
      </button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <td>start Date</td>
        <td>release date</td>
        <td>releaseVersions</td>
        <td>PR link</td>
        <td>Tracking Link</td>
        <td>Stage</td>
        <td>Teams</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{format-date model.startDate}}</td>
        <td>{{format-date model.releaseDate}}</td>
        <td>
          <ul>
            {{#each-in model.releaseVersions as |key value|}}
              <li>
                {{key}}: {{value}}
              </li>
            {{/each-in}}
          </ul>
        </td>
        <td><a href={{model.proposalPr}}>RFC Proposal Link</a></td>
        <td><a href={{model.trackingLink}}>Tracking Link</a></td>
        <td>{{model.stage.name}}</td>
        <td><ul>
          {{#each model.teams as |team|}}
          <li>{{team.name}}</li>
          {{/each}}
        </ul></td>
      </tr>
    </tbody>
  </table>
  <div class="content">
    {{markdown-to-html model.content tagName=""}}
  </div>
</div>

{{#if previousRFC}}
  {{#link-to "rfc" previousRFC class="nav-chapters previous"}}
    <i class="fa fa-angle-left"></i>
  {{/link-to}}
{{else}}
  {{#link-to "index" class="nav-chapters previous"}}<i class="fa fa-angle-left"></i>{{/link-to}}
{{/if}}

{{#if nextRFC}}
  {{#link-to "rfc" nextRFC class="nav-chapters next"}}
    <i class="fa fa-angle-right"></i>
  {{/link-to}}
{{/if}}