<div class="page">
  <div class="menu-bar">
    <div class="left-buttons">
      <button class="reset" type="button" {{on "click" this.toggleSidebar}}>
        <FaIcon class="p2" @icon="bars" />
      </button>
    </div>
  </div>
  <table class="rfc-data-table">
    <thead>
      <tr>
        <td>start Date</td>
        <td>release date</td>
        <td>releaseVersions</td>
        <td>PR link</td>
        <td>Tracking Link</td>
        <td>Stage</td>
        <td>Teams</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{format-date @model.startDate}}</td>
        <td>{{format-date @model.releaseDate}}</td>
        <td>
          <ul>
            {{#each-in @model.releaseVersions as |key value|}}
              <li>
                {{key}}: {{value}}
              </li>
            {{/each-in}}
          </ul>
        </td>
        <td>
          {{#if @model.proposalPr}}
            <a href={{@model.proposalPr}}>RFC Proposal Link</a>
          {{/if}}
        </td>
        <td>
          {{#if @model.trackingLink}}
            <a href={{@model.trackingLink}}>Tracking Link</a>
          {{/if}}
        </td>
        <td>{{@model.stage.name}}</td>
        <td><ul>
          {{#each @model.teams as |team|}}
          <li>{{team.name}}</li>
          {{/each}}
        </ul></td>
      </tr>
    </tbody>
  </table>
  <div class="content">
    {{markdown-to-html @model.content tagName=""}}
  </div>
</div>

{{#if this.previousRFC}}
  <LinkTo @route="rfc" @model={{this.previousRFC}} class="nav-chapters previous">
    <FaIcon class="margin-auto" @icon="angle-left" />
  </LinkTo>
{{else}}
  <LinkTo @route="index" class="nav-chapters previous">
    <FaIcon class="margin-auto" @icon="angle-left" />
  </LinkTo>
{{/if}}

{{#if this.nextRFC}}
  <LinkTo @route="rfc" @model={{this.nextRFC}} class="nav-chapters next">
    <FaIcon class="margin-auto" @icon="angle-right" />
  </LinkTo>
{{/if}}
